/* Theme Setting */
#uxms-backend-theme-setting {
    position: absolute;
    top: 63px;
    right: 0;
    z-index: 99;
    white-space: nowrap;
}
#uxms-backend-theme-setting > a {
    display: inline-block;
    color: #999;
    vertical-align: top;
    background-color: #e7e7e7;
    padding: 10px;
}
#uxms-backend-theme-setting > a:hover {
    text-decoration: none;
    color: #555;
    background-color: #fff;
}
#uxms-backend-theme-setting ul {
    background: rgba(255,255,255,0.8);
    padding: 0;
    display: inline-block;
    list-style: none;
    margin: 0;
}
#uxms-backend-theme-setting > ul {
    padding: 10px;
    margin-left: -3px;
    display: none;
    background-color: #fff;
}
#uxms-backend-theme-setting > ul > li {
    padding: 4px 0;
    overflow: hidden;
    width: 250px;
}
#uxms-backend-theme-setting > ul > li > span {
    font-size: 17px;
    display: inline-block;
    width: 70px;
    vertical-align: top;
}
#uxms-backend-theme-setting > ul > li > a {
    display: inline-block;
    font-size: 15px;
    color: #000;
}
#uxms-backend-theme-setting > ul > li > a.hidden-inline-xs {
    margin-left: 15px;
}
#uxms-backend-theme-setting > ul > li > a:hover {
    text-decoration: none;
}
#uxms-backend-theme-setting ul.colors > li {
    display: inline-block;
    padding: 0 2px;
}
#uxms-backend-theme-setting ul.colors a {
    display: inline-block;
    width: 20px;
    height: 20px;
    opacity: 0.3;
    border-radius: 100%;
}
#uxms-backend-theme-setting ul.colors li.active a,
#uxms-backend-theme-setting ul.colors li.active a:hover,
#uxms-backend-theme-setting ul.colors a:hover {
    opacity: 1;
}
#uxms-backend-theme-setting ul.colors a.blue        {background-color: #58b1fc;}
#uxms-backend-theme-setting ul.colors a.red         {background-color: #ff6f6f;}
#uxms-backend-theme-setting ul.colors a.green       {background-color: #47cf74;}
#uxms-backend-theme-setting ul.colors a.orange      {background-color: #ffaf51;}
#uxms-backend-theme-setting ul.colors a.yellow      {background-color: #f3d240;}
#uxms-backend-theme-setting ul.colors a.pink        {background-color: #f359a8;}
#uxms-backend-theme-setting ul.colors a.magenta     {background-color: #c48aff;}
#uxms-backend-theme-setting ul.colors a.gray        {background-color: #ababab;}
#uxms-backend-theme-setting ul.colors a.black       {background-color: #373b41;}
